@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600;700&display=swap');
/* Clean scrollbars from slick */
.slick-slider {
    overflow-x: hidden !important;
    scrollbar-width: none !important;  /* Firefox */
}

.slick-slider::-webkit-scrollbar {
    display: none !important;  /* Chrome, Safari */
}

